{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <h1>Edit Book</h1>

    <div class="float-end">
        {{ include('book/_delete_form.html.twig') }}
    </div>
    {{ include('book/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
