{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>Welcome to our bookstore. Browse our collection of amazing books!</p>
    <a href="{{ path('app_book_index') }}">Getting started</a>
{% endblock %}
