{% extends 'base.html.twig' %}

{% block title %}New BookCategory{% endblock %}

{% block body %}
    <h1>Create new BookCategory</h1>

    {{ include('book_category/_form.html.twig') }}

    <a href="{{ path('app_book_category_index') }}">back to list</a>
{% endblock %}
